body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(11, 4, 36);
  border-radius: 10px;
}
.header-text {
  color: #030637;
  font-size: 25px;
}
.header-img {
  margin-top: 5px;
}
.menu-icon {
  display: inline-block;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 650px;
  width: 258px;
  /* margin-top: 5px; */
  border-radius: 20px;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgb(244, 86, 170);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- MAIN ---------- */
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.image-but {
  margin-top: 50px;
  width: 1200px;
  position: relative;
  right: 20px;
}

/* --------------------------- */

.footer-container {
  height: 35px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 20px;
}
.footer-title > p {
  font-size: 35px;
  color: black;
  margin: 0 auto;
  text-align: center;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

/* ------------------------------------------------------------------------------ */

/* -------------------------------------------------------------------------- */

/* Main Section */
.main-top {
  display: flex;
  width: 100%;
  color: black;
}
.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills {
  display: flex;
  position: relative;
  bottom: 20px;
}
.main-skills .card {
  width: 25%;
  margin: 10px;
  /* background: #fff; */
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
  font-size: 15px;
}

iframe {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/*.main-skills .card h3 {
  margin: 10px;
  text-transform: capitalize;
}*/

.card {
  font-size: 12px;
  color: black;
  transition: transform 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

.zoomed {
  transform: scale(1.2); /* Phóng to lên 110% kích thước ban đầu */
}

.main-skills .card button {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover {
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i {
  font-size: 22px;
  padding: 10px;
}

.skill {
  position: relative;
  bottom: 60px;
}

/*-------------------------------------------------------------------------------------*/
/* Courses */
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}
.course-box {
  width: 100%;
  height: 230px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul {
  list-style: none;
  display: flex;
}
.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
}
.course-box ul .active {
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course {
  display: flex;
}
.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p {
  font-size: 12px;
  margin-top: 5px;
}
.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}
.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.title-course {
  position: relative;
  bottom: 50px;
}

.course-box {
  position: relative;
  bottom: 50px;
}

.courses {
  color: black;
  position: relative;
  bottom: 30px;
}

.html {
  color: rgb(25, 94, 54);
}
.css {
  color: rgb(104, 179, 35);
}
.js {
  color: rgb(28, 98, 179);
}
